[submodule "third_party/poco"]
	path = third_party/poco
	url = https://github.com/pocoproject/poco
[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://github.com/google/googletest
